<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1089841695484-rvjbe91qgqoqac4u9r95di72mek6cvm0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1089841695484-rvjbe91qgqoqac4u9r95di72mek6cvm0</string>
	<key>API_KEY</key>
	<string>AIzaSyCZeUKsnOv3CV6TdO7XvrV4XU2yIlnl4Gg</string>
	<key>GCM_SENDER_ID</key>
	<string>1089841695484</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Jorge-Catalan.BarMateCustomer</string>
	<key>PROJECT_ID</key>
	<string>project-4540339161294803210</string>
	<key>STORAGE_BUCKET</key>
	<string>project-4540339161294803210.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1089841695484:ios:5a63648fd56dfba4</string>
	<key>DATABASE_URL</key>
	<string>https://project-4540339161294803210.firebaseio.com</string>
</dict>
</plist>
